html, body{ 
    height: 100%; 
    width: 100%; 
    margin: 0px; 
    padding: 0px; 
    background-color: grey;
} 

.div-container{ 
    margin: auto;
    width: fit-content; 

}

.task-div{ 
    margin-bottom: 2px;
    height: 100px; 
    width: fit-content; 
    background-color: rgb(177, 0, 0);
} 

.task-griglia{ 
    display: grid;
    grid-template-columns: repeat(2fr, 1fr);
    grid-template-rows: repeat(1fr, 2fr, 1fr); 
    grid-template-areas: 'title title' 
                         'taskflex button' 
                         'creazione scadenza';
} 

.titolo-container{ 
    grid-area: title; 
    place-self: center;
    background-color: blue;
} 

.task-flex{ 
    grid-area: taskflex; 
    display: flex; 
    background-color: yellowgreen;
}  

.tags-items{ 
    background-color: aqua;
} 

.button-container{ 
    display: flex;
    grid-area: button; 
    background-color: rgb(59, 0, 0); 

}

input{ 
    
}

.creation-container{ 
    grid-area: creazione; 
    background-color: green;
} 

.deadline-container{ 
    grid-area: scadenza; 
    background-color: coral;
}
