html, body{ 
    height: 100%; 
    width: 100%; 
    margin: 0px; 
    padding: 0px; 
    background-color: grey;
} 

.todo-list-container{ 
    margin: auto;
    width: fit-content; 

}

.task-div{ 
    margin-bottom: 2px;
    height: fit-content; 
    width: fit-content; 
    background-color: rgb(177, 0, 0); 
    border-style: solid;
    border-width: 2px; 
    min-width: 370px; 
    border-left-color: rgba(255, 255, 255, 0.493); 
    border-top-color: rgba(255, 255, 255, 0.886);

} 

.task-griglia{ 
    display: grid;
    grid-template-columns: repeat(2fr, 1fr);
    grid-template-rows: repeat(1fr, 2fr, 1fr); 
    grid-template-areas: 'title title' 
                         'taskflex button' 
                         'creazione scadenza'; 
    row-gap: 2px; 
    column-gap: 10px;
} 

.titolo-container{ 
    grid-area: title; 
    place-self: center;
    /* background-color: blue; */
} 

.task-flex{ 
    grid-area: taskflex; 
    display: flex; 
    /* background-color: yellowgreen;  */
    max-width: 180px;
}  

.tags-items{ 
    background-color: aqua; 
    height: fit-content;
    margin: 2px; 
    padding: 2px;
    border-style: solid; 
    border-width: 2px;
    border-left-color: rgba(255, 255, 255, 0.493); 
    border-top-color: rgba(255, 255, 255, 0.886);

} 

.button-container{ 
    display: flex;
    grid-area: button; 
    /* background-color: rgb(59, 0, 0);  */
    height: 40px; 
    min-height: 25px;
    width: 180px;
} 

.button{ 
    justify-self: center; 
    height: 90%; 
    width: 90%; 
}

.creation-container{ 
    grid-area: creazione; 
    /* background-color: green;  */
    max-width: 180px;
    /* margin: 2px; */
} 

.deadline-container{ 
    grid-area: scadenza; 
    /* background-color: coral;  */
    max-width: 180px;
    /* margin: 2px; */
}
